@charset "utf-8";
/* CSS Document */

.kader{
	background-color:#9cf;
	padding: 5px;
	margin: 5px;
	width: 208px;
	height:300px;
	text-align: center;
	float: left;
}
.kaderT{
	background-color:#9cf;
	padding: 5px;
	margin: 5px;
	width: 208px;
	height:300px;
	text-align: center;
	float: left;
}